@use '../utils/functions' as *;

// colors
:root {
}

// layout variables
$default-font-size: 16;
$layout-desktop-width: 1440;
$layout-tablet-width: 768;
$layout-mobile-width: 375;
$max-layout-aspect-ratio: 2.37;

// breakponts
$breakpoints: (
	'tablet': 600,
	'desktop': 1025
);

// font sizes styleguide
$headings: (
	'h1': (
		'default': (
			'font-size': var(--font-size, rem(48)),
			'line-height': 1,
			'letter-spacing': -0.05em,
			'font-weight': var(--font-weight, 500)
		),
		'desktop': (
			'font-size': var(--font-size, rem(84))
		)
	),
	'h2': (
		'default': (
			'font-size': var(--font-size, rem(36)),
			'line-height': 1,
			'letter-spacing': -0.05em,
			'font-weight': var(--font-weight, 500)
		),
		'desktop': (
			'font-size': var(--font-size, rem(64))
		)
	),
	'h3': (
		'default': (
			'font-size': var(--font-size, rem(28)),
			'line-height': var(--line-height, 1.05),
			'letter-spacing': var(--letter-spacing, -0.04em),
			'font-weight': var(--font-weight, 500)
		),
		'desktop': (
			'font-size': var(--font-size, rem(40))
		)
	),
	'h4': (
		'default': (
			'font-size': var(--font-size, rem(20)),
			'line-height': 1.05,
			'letter-spacing': var(--letter-spacing, -0.03em),
			'font-weight': var(--font-weight, 500)
		),
		'desktop': (
			'font-size': var(--font-size, rem(28))
		)
	),
	'h5': (
		'default': (
			'font-size': var(--font-size, rem(16)),
			'line-height': 1.2,
			'letter-spacing': -0.02em,
			'font-weight': var(--font-weight, 500)
		),
		'desktop': (
			'line-height': 1.05,
			'letter-spacing': -0.04em,
			'font-size': var(--font-size, rem(20))
		)
	),
	'h6': (
		'default': (
			'font-size': var(--font-size, rem(12)),
			'line-height': var(--line-height, 1.2),
			'letter-spacing': var(--letter-spacing, -0.01em),
			'font-weight': var(--font-weight, 600)
		),
		'desktop': (
			'font-size': var(--font-size, rem(16))
		)
	),
	'body': (
		'default': (
			'font-size': var(--font-size, rem(16)),
			'line-height': var(--line-height, 1.5),
			'font-weight': var(--font-weight, 300)
		),
		'desktop': (
			'font-size': var(--font-size, rem(16))
		)
	),
	'body-large': (
		'default': (
			'font-size': var(--font-size, rem(16)),
			'line-height': var(--line-height, 1.5),
			'font-weight': var(--font-weight, 300)
		),
		'desktop': (
			'line-height': var(--line-height, 1.4),
			'font-size': var(--font-size, rem(20))
		)
	),
	'body-small': (
		'default': (
			'font-size': var(--font-size, rem(12)),
			'line-height': 1.2,
			'letter-spacing': -0.01em,
			'font-weight': var(--font-weight, 300)
		),
		'desktop': (
			'line-height': 1.5,
			'font-size': var(--font-size, rem(16))
		)
	),
	'button': (
		'default': (
			'font-size': var(--button-font-size, rem(16)),
			'line-height': 0.9,
			'letter-spacing': -0.02em,
			'font-weight': var(--button-font-weight, 500)
		),
		'desktop': (
			'font-size': var(--button-font-size, rem(16))
		)
	)
);
