{
   "presets": ["@babel/preset-env", "@babel/preset-react"],
   "plugins": [
       "@babel/plugin-transform-class-properties",
       "@babel/plugin-transform-private-methods",
			 "@babel/plugin-proposal-import-attributes-to-assertions"
   ]
 }
