{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-prettier/recommended"
	],
	"plugins": ["stylelint-prettier"],
	"rules": {
		"prettier/prettier": [true, {
			"printWidth": 120,
			"tabWidth": 2,
			"singleQuote": true,
			"trailingComma": "none",
			"arrowParens": "always",
			"semi": false,
			"endOfLine": "auto"
		}],
		"declaration-block-no-duplicate-properties": true,
		"selector-class-pattern": "^([a-z][a-z0-9]*)((--?|__)?[a-z0-9]+)*$"
	}
}
