@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.button {
	padding: rem(12) rem(24);
	border: 1px solid transparent;
	display: inline-flex;

	span {
		display: inline-block;

		@include text(button-large);
	}

	&--solid {
		color: var(--white);
		background-color: var(--orange-500);
		border-color: var(--orange-500);
	}

	&--transparent {
		color: var(--black);
		background-color: transparent;
		border-color: var(--black);
	}
}
