@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.careers {
	padding: rem(80) rem(16) rem(40);
	display: flex;
	flex-direction: column;
	gap: rem(60);
	background-color: var(--white);

	@include breakpoint(desktop) {
		padding: rem(120) rem(48) rem(100);
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		gap: rem(24);
		position: relative;

		@include breakpoint-max(desktop) {
			gap: rem(40);
			flex-direction: column;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(24);
		max-width: rem(516);
	}

	&__title {
		@include text(h2);

		@include breakpoint(desktop) {
			@include text(h3);
		}
	}

	&__paragraph {
		color: var(--dark-gray-70);

		@include text(body);
	}

	&__filters {
		background-color: var(--light-gray);
		border-radius: rem(8);
		height: fit-content;
		padding: rem(12) rem(24) rem(16);
		z-index: 1;

		@include breakpoint(desktop) {
			padding: rem(12) rem(24) rem(14);
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: rem(381);
		}

		&-wrapper {
			position: relative;
			margin-top: auto;
			width: 100%;
			z-index: 1;

			@include breakpoint(desktop) {
				translate: 0 rem(-56);
			}
		}

		&__title {
			position: relative;

			@include text(h5);

			@include breakpoint(desktop) {
				--font-weight: 500;
				--line-height: 2;

				@include text(h6);
			}

			&::after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5054_21713)'%3E%3Cpath d='M8 12L16 20L24 12' stroke='%23343331' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5054_21713'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				width: rem(32);
				height: rem(32);
				position: absolute;
				top: 50%;
				right: 0;
				translate: 0 -50%;
				transition: rotate 0.45s $ease-out-quart;

				@include breakpoint-max(desktop) {
					translate: 0 calc(-50% + 0.15em);
				}
			}
		}

		&__items {
			display: flex;
			flex-direction: column;
			gap: rem(14);
			overflow: hidden;

			@include breakpoint(desktop) {
				gap: rem(10);
			}

			&-wrapper {
				display: grid;
				grid-template-rows: 0fr;
				transition:
					grid-template-rows 0.65s $ease-out-quart,
					padding 0.65s $ease-out-quart;
			}

			&__title {
				--font-weight: 500;

				color: var(--dark-gray-70);
				text-transform: uppercase;

				@include text(small-info-bold);
			}
		}

		&__item {
			width: fit-content;

			@include breakpoint-max(desktop) {
				height: calc(rem(20) + 2px);
			}

			label {
				--font-weight: 500;
				--letter-spacing: -0.03em;

				display: flex;
				align-items: center;
				gap: rem(6);
				cursor: pointer;
				width: fit-content;

				@include text(h5);

				@include breakpoint-max(desktop) {
					--font-size: #{rem(14)};
				}

				@include breakpoint(desktop) {
					--line-height: 2;

					@include text(h6);
				}

				input {
					appearance: none;
					width: rem(20);
					height: rem(20);
					position: relative;

					&::before,
					&::after {
						content: '';
						cursor: pointer;
						display: inline-block;
						width: rem(20);
						height: rem(20);
						border: 1px solid var(--dark-gray);
						border-radius: rem(4);

						@include breakpoint(desktop) {
							width: rem(22);
							height: rem(22);
						}
					}

					&::after {
						border: none;
						position: absolute;
						top: 0;
						left: 0;
						background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='21' height='21' rx='3.5' fill='%23343331' stroke='%23343331'/%3E%3Cg clip-path='url(%23clip0_6751_13569)'%3E%3Cpath d='M6.33398 11.0001L9.66732 14.3334L16.334 7.66675' stroke='%23FDFDFD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6751_13569'%3E%3Crect width='16' height='16' fill='white' transform='translate(3 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						opacity: 0;
						transition: opacity 0.45s $ease-out-quart;
					}

					&:checked::after {
						opacity: 1;
					}
				}

				span {
					translate: 0 -0.15em;
				}
			}
		}

		&.active & {
			&__title::after {
				rotate: 180deg;
			}

			&__items-wrapper {
				grid-template-rows: 1fr;
				padding-top: rem(20);

				@include breakpoint(desktop) {
					padding-top: rem(16);
				}
			}
		}

		@include breakpoint(desktop) {
			&:hover & {
				&__title::after {
					rotate: 180deg;
				}

				&__items-wrapper {
					grid-template-rows: 1fr;
					padding-top: rem(16);
				}
			}
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--mid-gray);
	}

	&__item {
		position: relative;
		padding-block: rem(29);
		cursor: pointer;
		border-top: 1px solid var(--mid-gray);

		&__heading {
			position: relative;
			display: flex;
			gap: rem(12);
			transition:
				margin 0.65s $ease-out-quart,
				opacity 0.65s $ease-out-quart;

			@include breakpoint-max(desktop) {
				flex-direction: column;
			}

			@include breakpoint(desktop) {
				align-items: center;
				gap: rem(82);
			}
		}

		&__title {
			@include text(h4);

			@include breakpoint-max(desktop) {
				max-width: 85%;
			}

			@include breakpoint(desktop) {
				width: 40vw;

				@include text(h5);
			}

			> span:not([class]) {
				position: absolute;
				top: rem(0);
				right: 0;
				width: rem(32);
				height: rem(32);
				border: 1px solid var(--mid-gray);
				border-radius: rem(6);
				translate: 0 rem(-6);
				transform: translateZ(0);

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					width: rem(9);
					height: 1px;
					border-radius: 100vmax;
					background-color: black;
					transform: translateZ(0);
					transition: scale 0.65s $ease-out-quart;
				}

				&::after {
					rotate: 90deg;
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			max-height: 0;
			overflow: hidden;
			transition: max-height 1s $ease-out-quart;
			gap: rem(20);

			@include breakpoint(desktop) {
				gap: rem(24);
			}
		}

		&__tags {
			// display: flex;
			align-items: center;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: rem(20);

			@include breakpoint(desktop) {
				gap: rem(82);
			}
		}

		&__tag {
			border-radius: rem(6);
			color: var(--dark-gray-60);

			// translate: 0 0.1em;

			@include text(h5);
		}

		&__paragraph {
			color: var(--dark-gray-70);
			max-width: rem(880);

			@include text(body);
		}

		&__button {
			flex-shrink: 0;
		}

		&.active & {
			&__heading {
				opacity: 1;
				margin-bottom: rem(20);

				@include breakpoint(desktop) {
					margin-bottom: rem(24);
				}
			}

			&__title span::after {
				scale: 0 1;
			}
		}
	}
}
