@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.comparisson {
	padding: rem(80) rem(16);
	display: flex;
	flex-direction: column;
	gap: rem(60);

	@include breakpoint(desktop) {
		padding: rem(88) rem(48) rem(118);
	}

	&__heading {
		display: flex;
		gap: rem(24);

		@include breakpoint-max(desktop) {
			flex-direction: column;
		}

		@include breakpoint(desktop) {
			gap: rem(42);
		}
	}

	&__title {
		--letter-spacing: -0.03em;

		@include text(h3);

		@include breakpoint(desktop) {
			width: rem(523);
		}
	}

	&__paragraph {
		color: var(--dark-gray-70);
		max-width: rem(453);

		@include text(body);
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: rem(22);

		&-wrapper {
			display: flex;
			flex-direction: column;
			gap: rem(24);
			width: 100%;
		}

		&__titles {
			display: flex;
			width: 100%;
			padding-inline: rem(219) rem(16);

			@include text(h6);

			@include breakpoint-max(desktop) {
				align-items: center;
				gap: rem(26);
				text-align: center;
			}

			@include breakpoint(desktop) {
				--font-weight: 500;

				padding-inline: rem(812) rem(84);

				@include text(body-large);
			}
		}

		&__partscloud {
			margin-left: auto;
			height: rem(18);

			@include breakpoint(desktop) {
				height: rem(26);
			}

			svg {
				height: 100%;
				width: auto;
			}
		}
	}

	&__item {
		padding-top: rem(22);
		border-top: 1px solid var(--mid-gray);
		position: relative;

		&__title {
			@include text(body);

			@include breakpoint-max(desktop) {
				max-width: rem(223);
			}

			@include breakpoint(desktop) {
				@include text(body-large);
			}
		}

		&__marker {
			display: inline-block;
			width: rem(24);
			height: rem(24);
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			top: calc(rem(22) + 0.2em);

			@include breakpoint(desktop) {
				width: rem(36);
				height: rem(36);
				top: rem(18);
			}

			&:nth-child(2) {
				left: rem(234);

				@include breakpoint(desktop) {
					left: rem(860);
				}
			}

			&:nth-child(3) {
				right: rem(20);

				@include breakpoint(desktop) {
					right: rem(132);
				}
			}
		}

		&__no {
			background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6698_30912)'%3E%3Cpath d='M25.5 5.00984C27.7624 6.31612 29.6444 8.19063 30.9597 10.4478C32.275 12.705 32.978 15.2665 32.9991 17.8788C33.0202 20.4912 32.3587 23.0638 31.08 25.3419C29.8014 27.62 27.9499 29.5247 25.7089 30.8673C23.4679 32.21 20.9151 32.9441 18.3031 32.9969C15.6912 33.0498 13.1108 32.4196 10.8173 31.1687C8.52384 29.9178 6.59681 28.0896 5.227 25.8651C3.85719 23.6406 3.09211 21.0969 3.0075 18.4858L3 17.9998L3.0075 17.5138C3.0915 14.9233 3.84532 12.3988 5.19546 10.1863C6.5456 7.97388 8.44598 6.14902 10.7113 4.88966C12.9767 3.63031 15.5297 2.97943 18.1215 3.0005C20.7133 3.02156 23.2554 3.71384 25.5 5.00984ZM15.7665 13.7098C15.4522 13.5228 15.0804 13.4569 14.721 13.5248C14.3616 13.5926 14.0394 13.7894 13.8149 14.0782C13.5905 14.367 13.4792 14.7278 13.5022 15.0928C13.5251 15.4579 13.6807 15.8019 13.9395 16.0603L15.8775 17.9998L13.9395 19.9393L13.815 20.0803C13.5819 20.3818 13.4723 20.7607 13.5084 21.1401C13.5445 21.5195 13.7237 21.8709 14.0096 22.123C14.2954 22.375 14.6665 22.5088 15.0474 22.4972C15.4283 22.4855 15.7906 22.3294 16.0605 22.0603L18 20.1223L19.9395 22.0603L20.0805 22.1848C20.382 22.418 20.7609 22.5276 21.1403 22.4914C21.5197 22.4553 21.8711 22.2761 22.1231 21.9903C22.3752 21.7044 22.509 21.3333 22.4973 20.9524C22.4857 20.5715 22.3295 20.2093 22.0605 19.9393L20.1225 17.9998L22.0605 16.0603L22.185 15.9193C22.4181 15.6179 22.5277 15.2389 22.4916 14.8596C22.4555 14.4802 22.2763 14.1288 21.9904 13.8767C21.7046 13.6247 21.3335 13.4909 20.9526 13.5025C20.5717 13.5141 20.2094 13.6703 19.9395 13.9393L18 15.8773L16.0605 13.9393L15.9195 13.8148L15.7665 13.7098Z' fill='%23FF6762'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6698_30912'%3E%3Crect width='36' height='36' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}

		&__yes {
			background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6698_30913)'%3E%3Cpath d='M25.5 5.00984C27.7624 6.31612 29.6444 8.19063 30.9597 10.4478C32.275 12.705 32.978 15.2665 32.9991 17.8788C33.0202 20.4912 32.3587 23.0638 31.08 25.3419C29.8014 27.62 27.9499 29.5247 25.7089 30.8673C23.4679 32.21 20.9151 32.9441 18.3031 32.9969C15.6912 33.0498 13.1108 32.4196 10.8173 31.1687C8.52384 29.9178 6.59681 28.0896 5.227 25.8651C3.85719 23.6406 3.09211 21.0969 3.0075 18.4858L3 17.9998L3.0075 17.5138C3.0915 14.9233 3.84532 12.3988 5.19546 10.1863C6.5456 7.97388 8.44598 6.14902 10.7113 4.88966C12.9767 3.63031 15.5297 2.97943 18.1215 3.0005C20.7133 3.02156 23.2554 3.71384 25.5 5.00984ZM23.5605 13.9393C23.3022 13.6811 22.9586 13.5259 22.594 13.503C22.2295 13.4801 21.8691 13.591 21.5805 13.8148L21.4395 13.9393L16.5 18.8773L14.5605 16.9393L14.4195 16.8148C14.1309 16.5911 13.7706 16.4804 13.4061 16.5034C13.0417 16.5264 12.6981 16.6815 12.4399 16.9397C12.1817 17.198 12.0265 17.5415 12.0035 17.9059C11.9805 18.2704 12.0913 18.6307 12.315 18.9193L12.4395 19.0603L15.4395 22.0603L15.5805 22.1848C15.8436 22.3889 16.167 22.4997 16.5 22.4997C16.833 22.4997 17.1564 22.3889 17.4195 22.1848L17.5605 22.0603L23.5605 16.0603L23.685 15.9193C23.9089 15.6307 24.0198 15.2704 23.9968 14.9058C23.9739 14.5413 23.8188 14.1976 23.5605 13.9393Z' fill='%234BCB9D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6698_30913'%3E%3Crect width='36' height='36' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}

		&__partially {
			background-image: url("data:image/svg+xml,%3Csvg width='36' height='37' viewBox='0 0 36 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_9067_37256)'%3E%3Cpath d='M18 3.5C26.2845 3.5 33 10.2155 33 18.5C33.0031 22.4382 31.4573 26.2197 28.6963 29.028C25.9354 31.8363 22.1807 33.4461 18.243 33.5099C14.3053 33.5737 10.5005 32.0864 7.65 29.369C4.79949 26.6516 3.13198 22.9222 3.0075 18.986L3 18.5L3.006 18.08C3.228 9.9905 9.855 3.5 18 3.5ZM18 23C17.6326 23 17.278 23.1349 17.0034 23.3791C16.7289 23.6232 16.5535 23.9596 16.5105 24.3245L16.5 24.5L16.5105 24.6905C16.5539 25.0551 16.7294 25.3911 17.0039 25.6349C17.2785 25.8787 17.6329 26.0133 18 26.0133C18.3671 26.0133 18.7215 25.8787 18.9961 25.6349C19.2706 25.3911 19.4461 25.0551 19.4895 24.6905L19.5 24.515L19.4895 24.3245C19.4465 23.9596 19.2711 23.6232 18.9966 23.3791C18.722 23.1349 18.3674 23 18 23ZM20.052 12.9905C19.1541 12.5314 18.1273 12.3895 17.1385 12.5878C16.1498 12.786 15.2571 13.3128 14.6055 14.0825C14.3571 14.3735 14.2292 14.7484 14.2482 15.1306C14.2671 15.5128 14.4313 15.8732 14.7073 16.1383C14.9833 16.4033 15.3501 16.5529 15.7327 16.5563C16.1153 16.5598 16.4848 16.417 16.7655 16.157L17.022 15.887C17.2433 15.6839 17.5215 15.5534 17.8192 15.5132C18.1169 15.473 18.4197 15.5249 18.687 15.662C18.9751 15.8078 19.2085 16.0427 19.3524 16.3318C19.4964 16.6209 19.5432 16.9487 19.4859 17.2665C19.4286 17.5843 19.2703 17.8751 19.0344 18.0957C18.7986 18.3163 18.4979 18.455 18.177 18.491L17.829 18.509C17.4475 18.551 17.0966 18.7376 16.8485 19.0305C16.6004 19.3233 16.474 19.7002 16.4954 20.0834C16.5167 20.4666 16.6841 20.8271 16.9632 21.0906C17.2422 21.3541 17.6117 21.5006 17.9955 21.5C19.0074 21.503 19.9909 21.1649 20.787 20.5402C21.5831 19.9155 22.1454 19.0407 22.3831 18.0571C22.6208 17.0735 22.5201 16.0384 22.0971 15.1191C21.6741 14.1998 20.9536 13.4499 20.052 12.9905Z' fill='%23EFBA40'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_9067_37256'%3E%3Crect width='36' height='36' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}

		&--title & {
			&__title {
				--font-weight: 500;
			}
		}
	}
}
