@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.history {
	padding: rem(66) rem(16) rem(80);
	display: flex;
	flex-direction: column;
	gap: rem(46);

	@include breakpoint(desktop) {
		padding: rem(120) rem(48);
		gap: rem(80);
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: rem(35);
	}

	&__title {
		@include text(h2);
	}

	&__paragraph {
		display: flex;
		flex-direction: column;
		gap: 1em;
		max-width: rem(666);
		color: var(--dark-gray-60);

		@include text(body);
	}

	&__items {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: rem(202);

		@include breakpoint-max(desktop) {
			gap: rem(160);
		}

		@include breakpoint(desktop) {
			padding-top: rem(210);
		}

		&::before,
		&::after {
			content: '';
			width: 1px;
			height: calc(100% + rem(114 + 46));
			background-color: var(--white);
			position: absolute;
			top: 0;
			left: 50%;
			translate: -50% 0;

			@include breakpoint-max(desktop) {
				z-index: -1;
			}

			@include breakpoint(desktop) {
				height: calc(100% + rem(80 + 66));
			}
		}

		&::after {
			transform-origin: top;
			scale: 1 var(--progress, 0);
			background-color: var(--dark-gray);
		}

		&__line {
			width: rem(42);
			height: rem(42);
			border-radius: rem(6);
			background-color: var(--dark-gray);
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 0.75L8 7.25L14.5 0.75' stroke='%23FDFDFD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			background-size: rem(13) rem(7);
			position: absolute;
			top: 0;
			left: 50%;
			translate: -50% 0;
			z-index: 1;
		}
	}

	&__item {
		padding: rem(40) rem(20);
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		gap: rem(36);
		border-radius: rem(20);
		max-width: rem(613);

		&-wrapper {
			perspective: 1000px;

			&:nth-child(odd) {
				.history__item {
					transform-origin: right bottom;
					transform: translate(calc(-100% - var(--global-padding)), 0) rotateY(-15deg) rotateZ(-15deg);
				}
			}

			&:nth-child(even) {
				@include breakpoint(desktop) {
					margin-left: auto;
				}

				.history__item {
					transform-origin: left bottom;
					transform: translate(calc(100% + var(--global-padding)), 0) rotateY(15deg) rotateZ(15deg);
				}
			}

			&.once-inview {
				.history__item {
					transition: 1s transform $ease-out-quart calc(0.1s - var(--delay, 0s));
					transform: translate(0, 0) rotateY(0deg) rotateZ(0deg);
				}

				@include breakpoint(tablet) {
					&:nth-child(4n + 2) {
						.history__item {
							transition-delay: calc(0.3s - var(--delay, 0s));
						}
					}

					&:nth-child(4n + 3) {
						.history__item {
							transition-delay: calc(0.3s - var(--delay, 0s));
						}
					}
				}
			}

			&:not(:first-child) {
				@include breakpoint(desktop) {
					margin-top: rem(-194);
				}
			}
		}

		@include breakpoint(desktop) {
			padding: rem(40);
		}

		/* stylelint-disable-next-line no-descending-specificity */

		&__top {
			display: flex;
			gap: rem(12);
		}

		&__number {
			border-radius: rem(6);
			width: rem(40);
			height: rem(38);
			background-color: var(--purple);
			color: var(--white);
			display: flex;
			justify-content: center;
			align-items: center;

			@include text(small-info-bold);
		}

		&__years {
			--font-weight: 500;

			height: rem(38);
			background-color: var(--light-gray);
			border-radius: rem(6);
			color: var(--dark-gray);
			display: flex;
			align-items: center;
			gap: rem(14);
			padding-inline: rem(12);

			@include text(h5);

			@include breakpoint(desktop) {
				@include text(h6);
			}
		}

		&__year {
			@include breakpoint-max(desktop) {
				translate: 0 -0.05em;
			}
		}

		&__year__arrow {
			display: inline-block;
			width: rem(26);
			height: rem(26);
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M9.75 19.5L16.25 13L9.75 6.5' stroke='%23343331' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&__image {
			height: rem(205);
			width: 100%;

			@include breakpoint(desktop) {
				width: auto;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: rem(12);
			}
		}

		&__content {
			padding-block: rem(10);
			display: flex;
			flex-direction: column;
			gap: rem(24);
		}

		&__title {
			@include text(h3);
		}

		&__paragraph {
			color: var(--dark-gray-70);

			@include text(body);
		}
	}

	&__button {
		margin-inline: auto;
		margin-top: rem(114);

		@include breakpoint(desktop) {
			margin-top: rem(66);
		}
	}
}
