@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

section.image#image {
	padding-block: rem(50);

	&__image {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}

	img {
		width: 100%;
		object-fit: cover;
		height: rem(414);
		border-radius: rem(12);

		@include breakpoint(desktop) {
			height: rem(438);
		}
	}

	figcaption {
		@include text(small-info-light);
	}
}
