@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.kpis {
	padding: rem(60) rem(16) rem(80);
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: rem(40);

	@include breakpoint(desktop) {
		padding: rem(90) rem(48) rem(100);
		gap: rem(60);
	}

	&__heading {
		display: flex;
		flex-direction: column;
		gap: rem(24);
	}

	&__title {
		max-width: rem(516);

		@include text(h3);
	}

	&__paragraph {
		color: var(--dark-gray-70);
		max-width: rem(516);

		@include text(body);
	}

	&__item {
		padding: rem(24);
		background-color: var(--light-gray);
		border-radius: rem(14);
		min-height: rem(260);
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include breakpoint(desktop) {
			min-height: rem(359);
			padding: rem(36);
			border-radius: rem(20);
		}

		&__heading {
			display: flex;
			flex-direction: column;
			gap: rem(10);
		}

		&__number {
			@include text(small-info-bold);
		}

		&__logo {
			height: rem(21);
			width: auto;

			@include breakpoint(desktop) {
				height: rem(30);
			}

			img {
				height: 100%;
				width: auto;
				object-fit: cover;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: rem(8);

			@include breakpoint(desktop) {
				gap: rem(12);
			}
		}

		&__text {
			@include text(h3);

			@include breakpoint-max(desktop) {
				&:not(.small) {
					// --font-size: #{rem(64)};
				}
			}

			// span {
			// 	--font-size: initial;

			// 	@include text(h5);

			// 	@include breakpoint(desktop) {
			// 		--font-weight: 500;

			// 		@include text(body-large);
			// 	}
			// }
		}

		&__paragraph {
			@include text(body);
		}
	}

	.wrapper {
		overflow: visible !important;

		@include breakpoint-max(desktop) {
			display: none;
		}
	}

	.base {
		// padding: rem(10) rem(16);
		// background-color: var(--light-gray);
		// border-radius: rem(4);
		position: absolute;
		top: 0;
		left: 0;
		translate: -50% -50%;
		pointer-events: none;
		z-index: 2;
		overflow: hidden;

		div {
			padding: rem(10) rem(16);
			background-color: var(--white);
			border-radius: rem(4);

			// translate: -50% -50%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: rem(12);
			transition: scale 0.45s $ease-out-quart;
		}

		span {
			--font-size: #{rem(14)};
			--font-weight: 700;

			color: var(--dark-gray);
			text-transform: uppercase;
			font-size: rem(18);
			line-height: 1;
			letter-spacing: -0.01em;
			font-weight: 500;
		}

		svg {
			width: rem(18);
			height: rem(18);
			flex-shrink: 0;
		}
	}

	&__items {
		position: relative;
		user-select: none;

		@include breakpoint-max(desktop) {
			padding-right: rem(23);
		}

		@include breakpoint(desktop) {
			// padding-inline: rem(180 - 96);

			&:has(.swiper-slide:nth-child(4)) {
				// padding-inline: 0 rem(656 - 48);
			}
		}

		&:not(.active) .base div {
			scale: 0;
		}
	}

	&.use-case {
		.kpis__item {
			justify-content: flex-end;
			gap: rem(12);
		}

		.kpis__item__text {
			@include text(h1);
		}
	}
}
