@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.main-preloader {
	position: fixed;
	inset: 0;
	background-color: var(--white, white);
	z-index: 99999;
}
