@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

.products {
	display: flex;
	flex-direction: column;
	gap: rem(60);
	padding: rem(160) rem(16);

	@include breakpoint(desktop) {
		padding: rem(100) rem(48) rem(120);
	}

	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: rem(24);
	}

	&__title {
		max-width: rem(892);

		@include text(h2);
	}

	&__paragraph {
		max-width: rem(706);
		color: var(--dark-gray-60);

		@include text(body);

		@include breakpoint(desktop) {
			@include text(body-large);
		}
	}

	&__items {
		display: grid;
		gap: rem(16);
		grid-template-columns: 1fr;

		@include breakpoint(desktop) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(11);
		}
	}

	&__item {
		background-color: var(--white);
		border-radius: rem(12);
		padding: rem(24);
		display: flex;
		flex-direction: column;
		gap: rem(24);

		&__logo {
			height: rem(40);
			width: auto;
			margin-inline: auto;

			img {
				height: 100%;
				width: auto;
				object-fit: cover;
			}
		}

		&__paragraph {
			color: var(--dark-gray-60);

			@include text(body);
		}

		&__read-more {
			--font-weight: 500;

			line-height: 1 !important;
			overflow: hidden;
			display: inline-flex;
			gap: rem(5);
			align-items: center;
			width: fit-content;

			// margin-top: rem(-4);
			color: var(--dark-gray-60);

			@include text(body);

			&-wrapper {
				position: relative;
				overflow: hidden;
				margin-top: auto;
			}

			&__arrow,
			&__title {
				transform: translateZ(0);
				display: inline-block;
				transition: translate 0.65s $ease-out-quart;
			}

			&__arrow {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath d='M6 11.999L10 7.99902L6 3.99902' stroke='%23343331' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: rem(16);
				height: rem(16);
				translate: 0 0.1rem;

				&:first-child {
					position: absolute;
					left: rem(-5);
					top: 50%;
					translate: rem(-17) -50%;
				}
			}

			@include breakpoint(desktop) {
				&:hover {
					.products__item__read-more__title {
						translate: rem(16) 0;
					}

					.products__item__read-more__arrow {
						&:first-child {
							translate: 0 calc(-50% + 0.1rem);
						}

						&:last-child {
							translate: rem(17) 0.1rem;
						}
					}
				}
			}
		}

		&__image {
			width: 100%;

			// margin-top: auto;
			height: rem(180);

			@include breakpoint(desktop) {
				height: rem(240);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: rem(6);
				background-color: var(--light-gray);
			}
		}
	}
}
