@use '../core/fonts' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/easings' as *;

[data-component='switch-button'] {
	width: rem(42);
	height: rem(24);
	border-radius: 100vmax;
	background-color: #c3c3c3;
	padding: rem(3);
	scale: 0.9999;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	transition: 0.3s all $ease-out-quad;

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: rem(18);
		height: rem(18);
		border-radius: 50%;
		background-color: white;
		scale: 0.9999;
		transition: 0.3s all $ease-out-quad;
	}

	&.active {
		background-color: var(--green);

		&::after {
			translate: calc(rem(36) - 100%) 0;
		}
	}

	@include breakpoint(desktop) {
		&:hover:not(.active) {
			background-color: var(--light-gray);
		}
	}
}
