// @font-face {
// 	font-family: 'BDO Grotesk';
// 	src:
// 		url('../public/font/BDOGrotesk-Light.woff2') format('woff2'),
// 		url('../public/font/BDOGrotesk-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

$bdo: 'serif', 'sans-serif';
