<nav class="navbar" id="navbar" data-component="navbar">
  <div class="navbar__wrapper">
      <a href="/" class="navbar__logo" data-router ><img src="img/logo-black.svg" alt=""></a>

      <div class="navbar__close"><span></span></div>

      <div class="navbar__items">
          <ul class="navbar__links">
            <li class="navbar__link navbar__link--dropdown">
              <div class="navbar__link--dropdown__title"><span>Features</span></div>
              <div class="navbar__link__sublinks-wrapper">
                <ul class="navbar__link__sublinks">
                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/sql.svg" alt="SQL Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">PostgreSQL Compatibility</span>
                      <span class="navbar__link__sublink__paragraph">Connect with all your favorite tools</span>
                    </div>
                  </a>

                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/wand.svg" alt="Wand Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">Optimizer</span>
                      <span class="navbar__link__sublink__paragraph">State-of-the-art query optimizer</span>
                    </div>
                  </a>

                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/wand.svg" alt="Wand Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">Optimizer</span>
                      <span class="navbar__link__sublink__paragraph">State-of-the-art query optimizer</span>
                    </div>
                  </a>

                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/wand.svg" alt="Wand Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">Optimizer</span>
                      <span class="navbar__link__sublink__paragraph">State-of-the-art query optimizer</span>
                    </div>
                  </a>
                </ul>
              </div>
            </li>

            <li class="navbar__link navbar__link--dropdown">
              <div class="navbar__link--dropdown__title"><span>Solutions</span></div>
              <div class="navbar__link__sublinks-wrapper">
                <ul class="navbar__link__sublinks">
                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/sql.svg" alt="SQL Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">PostgreSQL Compatibility</span>
                      <span class="navbar__link__sublink__paragraph">Connect with all your favorite tools</span>
                    </div>
                  </a>

                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/wand.svg" alt="Wand Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">Optimizer</span>
                      <span class="navbar__link__sublink__paragraph">State-of-the-art query optimizer</span>
                    </div>
                  </a>

                  <a href="#" class="navbar__link__sublink">
                    <figure class="navbar__link__sublink__icon"><img src="img/wand.svg" alt="Wand Icon"></figure>
                    <div class="navbar__link__sublink__content">
                      <span class="navbar__link__sublink__title">Optimizer</span>
                      <span class="navbar__link__sublink__paragraph">State-of-the-art query optimizer</span>
                    </div>
                  </a>
                </ul>
              </div>
            </li>

            <li class="navbar__link">
              <a href="#" data-router>Pricing</a>
            </li>

            <li class="navbar__link">
              <a href="#" data-router>About Us</a>
            </li>

            <li class="navbar__link">
              <a href="#" data-router>Blog</a>
            </li>

            <li class="navbar__link">
              <a href="#" data-router>Docs</a>
            </li>
          </ul>

        <div class="navbar__button">
          <a href="#" data-router class="button button--solid"><span>Get Started</span></a>
        </div>
      </div>
  </div>
</nav>
