<section class="listing" id="listing" data-component="listing">
  <header class="listing__heading">
    <h2 class="listing__title">Read more in hte CedarDB Blog</h2>
  </header>

  <div class="listing__items">
    <div class="listing__item">
      <figure class="listing__item__image">
        <img src="img/blog-placeholder.png" alt="">
      </figure>

      <div class="listing__item__content">
        <p class="listing__item__date">11/03/2025</p>
        <h3 class="listing__item__title">Cedar C++ Driver</h3>
        <p class="listing__item__paragraph">This is a tree looking at the ruins of ancient rome while thinking of what is the next technology to come ...</p>
      </div>
    </div>
    <div class="listing__item">
      <figure class="listing__item__image">
        <img src="img/blog-placeholder.png" alt="">
      </figure>

      <div class="listing__item__content">
        <p class="listing__item__date">11/03/2025</p>
        <h3 class="listing__item__title">Cedar C++ Driver</h3>
        <p class="listing__item__paragraph">This is a tree looking at the ruins of ancient rome while thinking of what is the next technology to come ...</p>
      </div>
    </div>
    <div class="listing__item">
      <figure class="listing__item__image">
        <img src="img/blog-placeholder.png" alt="">
      </figure>

      <div class="listing__item__content">
        <p class="listing__item__date">11/03/2025</p>
        <h3 class="listing__item__title">Cedar C++ Driver</h3>
        <p class="listing__item__paragraph">This is a tree looking at the ruins of ancient rome while thinking of what is the next technology to come ...</p>
      </div>
    </div>
  </div>

  <a href="/blog" class="button button--transparent" data-router><span>View All</span></a>
</section>
