<section class="features" id="features" data-component="features">
  <header class="features__heading">
    <h2 class="features__title" data-anim="lines">Unlock real-time insights effortlessly</h2>
    <p class="features__paragraph" data-anim="lines" data-anim-delay="0.5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </header>

  <div class="features__items">

    <div class="features__item">
      <figure class="features__item-image">
        <img src="/img/feature-1.png" alt="feature-1">
      </figure>
      <div class="features__item-content">
        <h3 class="features__item-title">Exceptional Speed for Every Workload</h3>
        <p class="features__item-paragraph">CedarDB delivers unparalleled performance without the need for manual tuning. From transactional bursts to large-scale analytics, it ensures lightning-fast data processing with zero overhead.</p>
      </div>
    </div>

    <div class="features__item">
      <figure class="features__item-image">
        <img src="/img/feature-2.png" alt="feature-2">
      </figure>
      <div class="features__item-content">
        <h3 class="features__item-title">Decades of Research, Unrivaled Results</h3>
        <p class="features__item-paragraph">CedarDB builds on cutting-edge database research from Munich, Germany. While others are inspired by our innovations, only CedarDB unites everything in a single system.
          <br><br>
          We translate state-of-the-art theory into real-world speed, efficiency, and performance, setting a new standard for database systems.</p>
      </div>
    </div>

    <div class="features__item">
      <figure class="features__item-image">
        <img src="/img/feature-3.png" alt="feature-3">
      </figure>
      <div class="features__item-content">
        <h3 class="features__item-title">No Silos<br>No Compromises.</h3>
        <p class="features__item-paragraph">CedarDB eliminates the need to choose between different systems for different workloads. It handles both structured and semi-structured data, transactional and analytical queries, as well as point lookups and full scans with the highest efficiency – all in a single, powerful system.
          <br><br>
          No silos, no compromises, just one powerful database system that does it all.</p>
      </div>
    </div>

    <div class="features__item">
      <figure class="features__item-image">
        <img src="/img/feature-4.png" alt="feature-4">
      </figure>
      <div class="features__item-content">
        <h3 class="features__item-title">Effortless Deployment in Any Environment</h3>
        <p class="features__item-paragraph">On-premise or in the cloud, CedarDB deploys in seconds without complex configuration and automatically adapts to your environment.
          <br><br>
          Whether you're spinning up a test instance or integrating it into production, CedarDB makes deployment effortless.</p>
      </div>
    </div>

    <div class="features__item">
      <figure class="features__item-image">
        <img src="/img/feature-5.png" alt="feature-5">
      </figure>
      <div class="features__item-content">
        <h3 class="features__item-title">Same SQL,<br>
          No Speed Limits</h3>
        <p class="features__item-paragraph">No new tools, no learning curve. CedarDB works natively with your existing stack, supporting PostgreSQL tools and connectors out of the box.
          <br><br>
          Whether you're using CedarDB on its own or alongside PostgreSQL, the transition is seamless.</p>
      </div>
    </div>
  </div>

  <div class="features__timeline">
    <div class="features__timeline-wrapper">
      <div class="features__timeline__item">01. Performance</div>
      <div class="features__timeline__item">02. Innovation</div>
      <div class="features__timeline__item">03. Versatility</div>
      <div class="features__timeline__item">04. Deploy anywhere</div>
      <div class="features__timeline__item">05. Zero-friction</div>
    </div>
  </div>
</section>
