<section class="start" id="start" data-component="start">
  <header class="start__heading">
    <h2 class="start__title">Get started with CedarDB in your project</h2>
    <p class="start__paragraph">Learn How CedarDB innovates at every phase of query processing.</p>
  </header>

  <div class="start__items-wrapper">
    <div class="start__items__filters">
      <div class="start__items__filter" data-filter="connect-data"><span>Connect Data</span></div>
      <div class="start__items__filter" data-filter="deploy-data"><span>Deploy Data</span></div>
      <div class="start__items__filter" data-filter="load-data"><span>Load Data</span></div>
      <div class="start__items__filter" data-filter="analyze-data-2"><span>Analyze Data</span></div>
      <div class="start__items__filter" data-filter="analyze-data-2"><span>Analyze Data</span></div>
      <div class="start__items__filter" data-filter="analyze-data-2"><span>Analyze Data</span></div>
    </div>

    <div class="start__items-container">
      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>

      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>

      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>

      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>

      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>

      <div class="start__items">
        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>

        <div class="start__item">
          <figure class="start__item__icon">
            <img src="img/bag-icon.svg" alt="">
          </figure>

          <div class="start__item__content">
            <h3 class="start__item__title">Cedar C++ Driver</h3>
            <p class="start__item__paragraph">You can use this language to interface with our system</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
