<section class="tabs" id="tabs" data-component="tabs">
  <header class="tabs__heading">
    <h2 class="tabs__title">Engineered for Performance, from Start to Finish</h2>
    <p class="tabs__paragraph">See how CedarDB innovates at every step of query processing.</p>
  </header>

  <div class="tabs__items">
    <div class="tabs__images">
      <figure class="tabs__image">
        <img src="img/tabs-1.svg" alt="tabs-1">
      </figure>
      <figure class="tabs__image">
        <img src="img/tabs-2.svg" alt="tabs-2">
      </figure>
      <figure class="tabs__image">
        <img src="img/tabs-3.svg" alt="tabs-3">
      </figure>
      <figure class="tabs__image">
        <img src="img/tabs-4.svg" alt="tabs-4">
      </figure>
    </div>

    <div class="tabs__content-wrapper">
      <div class="tabs__content">

        <div class="tabs__item">
          <div class="tabs__item__header">
            <figure class="tabs__item__icon">
              <img src="img/search-icon.svg" alt="">
            </figure>
            <span class="tabs__item__name">PostgresSQL Grammar</span>
          </div>

          <div class="tabs__item__content">
            <h3 class="tabs__item__title">Cutting-edge innovation,<br>familiar interface</h3>
            <div class="tabs__item__paragraphs">
              <p class="tabs__item__paragraph">CedarDB speaks PostgreSQL SQL and integrates seamlessly with existing PostgreSQL tools. No learning curve, no friction.</p>
              <p class="tabs__item__paragraph">CedarDB deploys in seconds and automatically adapts to any hardware, on premise or in the cloud.</p>
              <p class="tabs__item__paragraph">Go beyond traditional SQL with built-in analytics for time series, JSON, vectors, and more.</p>
            </div>
          </div>
        </div>

        <div class="tabs__item">
          <div class="tabs__item__header">
            <figure class="tabs__item__icon">
              <img src="img/codesandbox-icon.svg" alt="">
            </figure>
            <span class="tabs__item__name">PostgresSQL Grammar</span>
          </div>

          <div class="tabs__item__content">
            <h3 class="tabs__item__title">Cutting-edge innovation,<br>familiar interface</h3>
            <div class="tabs__item__paragraphs">
              <p class="tabs__item__paragraph">CedarDB speaks PostgreSQL SQL and integrates seamlessly with existing PostgreSQL tools. No learning curve, no friction.</p>
              <p class="tabs__item__paragraph">CedarDB deploys in seconds and automatically adapts to any hardware, on premise or in the cloud.</p>
              <p class="tabs__item__paragraph">Go beyond traditional SQL with built-in analytics for time series, JSON, vectors, and more.</p>
            </div>
          </div>
        </div>

        <div class="tabs__item">
          <div class="tabs__item__header">
            <figure class="tabs__item__icon">
              <img src="img/command-icon.svg" alt="">
            </figure>
            <span class="tabs__item__name">PostgresSQL Grammar</span>
          </div>

          <div class="tabs__item__content">
            <h3 class="tabs__item__title">Cutting-edge innovation,<br>familiar interface</h3>
            <div class="tabs__item__paragraphs">
              <p class="tabs__item__paragraph">CedarDB speaks PostgreSQL SQL and integrates seamlessly with existing PostgreSQL tools. No learning curve, no friction.</p>
              <p class="tabs__item__paragraph">CedarDB deploys in seconds and automatically adapts to any hardware, on premise or in the cloud.</p>
              <p class="tabs__item__paragraph">Go beyond traditional SQL with built-in analytics for time series, JSON, vectors, and more.</p>
            </div>
          </div>
        </div>

        <div class="tabs__item">
          <div class="tabs__item__header">
            <figure class="tabs__item__icon">
              <img src="img/settings-icon.svg" alt="">
            </figure>
            <span class="tabs__item__name">PostgresSQL Grammar</span>
          </div>

          <div class="tabs__item__content">
            <h3 class="tabs__item__title">Cutting-edge innovation,<br>familiar interface</h3>
            <div class="tabs__item__paragraphs">
              <p class="tabs__item__paragraph">CedarDB speaks PostgreSQL SQL and integrates seamlessly with existing PostgreSQL tools. No learning curve, no friction.</p>
              <p class="tabs__item__paragraph">CedarDB deploys in seconds and automatically adapts to any hardware, on premise or in the cloud.</p>
              <p class="tabs__item__paragraph">Go beyond traditional SQL with built-in analytics for time series, JSON, vectors, and more.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
