<section class="tabs" id="tabs" data-component="tabs">
  <header class="tabs__heading">
    <h2 class="tabs__title">Engineered for Performance, from Start to Finish</h2>
    <p class="tabs__paragraph">See how CedarDB innovates at every step of query processing.</p>
  </header>

  <div class="tabs__images">
    <figure class="tabs__image">
      <img src="/img/tabs-1.png" alt="tabs-1">
    </figure>
    <figure class="tabs__image">
      <img src="/img/tabs-2.png" alt="tabs-2">
    </figure>
    <figure class="tabs__image">
      <img src="/img/tabs-3.png" alt="tabs-3">
    </figure>
    <figure class="tabs__image">
      <img src="/img/tabs-4.png" alt="tabs-4">
    </figure>
  </div>


</section>
